    <div class="container" style="padding-top: 70px;margin-top: 3%;">
        <div>
            <div class="row">
                <div class="col-md-3 col-md-offset-1" style="padding-bottom: 50px">
                    <div class="container following">
                        <div class="row" style="text-align: center;">
                            <img class="media-object" src="./img/user.png" style="width: 35%;margin: auto">
                            <h3 style="margin-top: 10px;">{{myself._source.name}}</h3>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6 col-md-offset-1" style="min-height: 200px; max-height: 500px;">
                    <form ng-submit="addTweet()">
                        <input class="input-sm box" id="tweet_input" type="text" required ng-model='msg' placeholder="Your tweet here!">
                        <button type="submit" class="btn btn-primary btn-sm pull-right tweet" id="tweetButton">Tweet</button>
                    </form >
					<div>
						<ul class="list-group list-tweet">
							<li  ng-repeat="tweet in listArr | orderBy:'curDate':true track by $index">								   
								<div class="list-group-item" style="width: 100%"> 
									 <h4 class="list-group-item-heading">
										<span data-ng-show="bahar">{{tweet.name}}</span>
										<a data-ng-hide="bahar" ng-click="gotoProfile(tweet.name)" style="cursor:pointer">{{tweet.name}}</a>
										<span class="time">{{tweet.curDate | relativeTime}}</span>
									</h4>										
									<p class="list-group-item-text">{{tweet.tweetMsg}}</p>
								</div>							   
							</li>
						</ul>					
					</div>					
                </div>
            </div>
        </div>
    </div>