<!DOCTYPE html>
<html ng-app="twitter">
<head>
    <title>Twitter App</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body>
    <div ng-controller="navbar" class="navbar navbar-default navbar-fixed-top">	
        <div class="container">
            <div class="navbar-header">
                <span><a href="javascript:;" class="navbar-brand active"><i class="fa fa-home"></i> Home</a></span>
				<span><a href="javascript:;" class="navbar-brand"><i class="fa fa-bell"></i> Notifications</a></span>
				<span><a href="javascript:;" class="navbar-brand"> <i class="fa fa-envelope"></i> Messages</a></span>
                <button  class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">                    
                    <li><a><button ng-hide='bahar' ng-click='goHome("global")' type="button" class="btn btn-primary form-control">Tweets</button></a></li>
                    <li><a><button ng-hide='bahar' ng-click='gotoProfile()' type="button" class="btn btn-primary form-control">Profile</button></a></li>
                    <li><a><button ng-hide='bahar' type="button" ng-click='exit()' class="btn btn-danger form-control">Signout</button></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-view></div>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js" type="application/javascript" ></script>
    <script src="lib/angular-route.min.js" type="application/javascript"></script>
    <script src="lib/angular-sanitize.min.js"></script>
    <script src="lib/appbase.js"></script>
    <script src="js/twitter.relative.time.min.js"></script>
    <script src="js/angular-vs-repeat.min.js"></script>
    <script src="js/app/config.js" type="application/javascript"></script>
    <script src="js/app/service.js" type="application/javascript"></script>
    <script src="js/app/controller.js" type="application/javascript"></script>
</body>
</html>